body {
    margin: 0;
   
    font-family: "Lato";
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    text-align: center;
    gap: 10px;
    font-size: 16pt;
}

.FrontInfo>a{
    text-decoration: none;
    
}

.red{
    color: #EA515F;
}

h1{
    font-family: 'Little';
    margin: 0;
}

.home>h2{
    color: white;
}

.Yellow{
    color: #F6CC8C;
}

.Red{
    margin: 0px 10px;
    color: #EA515F;
}

canvas {
    display: block;
    outline: none !important;
}

@font-face {
    font-family: 'Little';
    src: url(/Style/Font/Full\ Moon\ BT\ W03\ Blk\ Chey\ Mn\ A.ttf);
    }

@font-face {
    font-family: "Lato";
    src: url(/Style/Font/Lato-Regular.ttf);
}


.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 65% 55%, #F6CC8C,#EA515F 20%);
}

.main2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(90deg, #ADC965,#F6CC8C) ;
    
}
.hoem>h2{
    font-family: 'Little';
}

#Parfum{
    color: white;
    font-family: 'Little';
    font-size: 36pt;
}

#DefParfum{
    font-family: 'Lato';
    font-size: 17pt;
    color: white;
    margin: 0;
}

.marg{
    margin-top: 20px ;
}

#buttonOne{
    border: 1px solid #F6CC8C;
    border-radius: 10px;
    background-color: transparent;
    padding: 15px;
    margin-bottom: 20px;
    color: #EA515F;
}
#buttonTwo{
    background-color: #F6CC8C;
    border: 1px solid #EA515F;
    
    color: #EA515F;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    
}
.home{
    padding: 0 70px;
}
a{
    font-family: 'Lato';
    color: white ;
    text-decoration: none ;
}

#buttonOne:hover>a{
    color: #EA515F;
}

#buttonTwo:hover>a{
    color: white;
    
}

#buttonOne:hover{
    transition: 0.3s;
    background-color: #F6CC8C;
}



.Slider {
    overflow: hidden;
}

.slider-container {
    height: 90vh;
    display: flex;
    /* animation: slide 20s infinite  linear; Animation du slider automatique */
    /* animation-delay: 15s; */
}


.slide {
   
    flex: 0 0 100%; /* 100% de largeur pour chaque diapositive */
}

@keyframes slide {
    0%, 40%{
        transform: translateX(0);
    }

    50%, 90% {
        transform: translateX(-100%); 
    }
    
    100%{
        transform: translateX(0);
    }

}

/* Ajoutez une classe pour indiquer l'animation en pause */
.paused {
    animation-play-state: paused;
}

.active {
    transform: translateX(0);
}

.Part2{
    height: 100vh;

    display: flex;
    justify-content: start;
    margin-left: 400px;
    
    align-items: center;
    position: relative;
}

.margin{
    margin-left: 350px !important;
    flex: 1;
}


.xTrois{
    font-size: 30pt;
    font-family: "Little";
}

.xDeux{
    font-size: 25pt;
    font-family: "Little";
}

.posi{
    position: absolute;
    top: -20%;
    left: 40%;
    scale: 0.6;
}

.ChooseIceCream.same-position {
    position: relative;
    top: 0;
    left: 0;
  }


  /* TEST */



  
  .items {
    position: relative;
    left: -5%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }